In [653]:
import pandas as pd
import numpy as np

In [654]:
df = pd.read_csv('SF_webdev.csv')
df = df.rename(columns={'Unnamed: 0': 'id'})

In [655]:
# Clean the job listing summaries

df.summary = df.summary.str.lower()
df['summary'].replace('\n',' ',regex=True,inplace=True)
df['summary'].replace("•",' ',regex=True,inplace=True)
df['summary'].replace(',',' ',regex=True,inplace=True)
df['summary'].replace(':',' ',regex=True,inplace=True) 
df['summary'].replace('-',' ',regex=True,inplace=True)
df['summary'].replace('\?',' ',regex=True,inplace=True) # need \ escape character for regex
# df['summary'].replace('\.',' ',regex=True,inplace=True) # need \ escape character for regex
df['summary'].replace('\*',' ',regex=True,inplace=True) # need \ escape character for regex

df.to_csv('~/Desktop/cleaned.csv')

df.head(5)

,id,job_title,company,location,summary
0,0,Web Developer,Linqia,"San Francisco, CA 94108",linqia is the first performance based influenc...
1,1,Junior Web Developer,SFMOMA,"San Francisco, CA 94103",art transforms lives. it provokes us to think ...
2,2,Web Developer,Authentic8,"San Francisco, CA",authentic8 is looking for a software engineer ...
3,3,Web Developer,Cloudera,"San Francisco, CA 94104",170495 job description cloudera delivers the ...
4,4,Front End Developer (temporary),Beyond,"San Francisco, CA",beyond is looking for a front end developer to...

In [658]:
# This is the master dictionary that controls the counts. 
# If you want any instance of the string then simply put it in quotes
# If you want to make sure that the string is only counting instances of that word 
# and not instances where it is part of another word then make sure to put spaces at the ends of the string
# For example, adding "java" will also count instances of the "java" found in the word in "javascript"
# include spaces to " java " in order to get instances of that word by itself.
# Each instance of a term will be totaled under its corresponding key.

word_dict = {
    'javascript': ['javascript'],
    'react': [' react ', 'reactjs', 'react.js'],
    'angular': [' angular ', 'angularjs', 'angular.js'],
    'node': [' node ', 'nodejs', 'node.js'],
    'mongodb': ['mongodb'],
    'computer science': ['computer science'],    
    'java': [' java '],
    'python': ['python'],
    'django': ['django'],
    'php': ['php'],
    'ruby': ['ruby'],
    'c#': ['c#'],
    'c++': ['c++'],
    'swift': ['swift'],
    'html': [' html ', 'html5'],
    'css': [' css ', 'css3'],
    'less': [' less '],
    'sass': ['sass'],
    'css preprocessors': ['css preprocessors'],
    'front end': ['front end'], # I removed dashes so this should cover "front-end" as well.
    'back end': ['back end'],
    'agile': ['agile'],
    'ajax': ['ajax'],
    'rest': ['rest'],
    'git': ['git'],
    'github': ['github'],
    'sql': [' sql '],
    'mysql': ['mysql'],
    'nosql': ['nosql'],
    'ui_ux': ['ui/ux'],
    "bachelor's": [" bachelor's ", ' bachelor ', 'bachelors'],
       
}

In [659]:
# New DataFrame to hold individual word counts
counts_headers = dict(word_dict)

column_header_keys = {}

for key in counts_headers:
    column_header_keys[key] = 0
total_counts = pd.DataFrame(column_header_keys, index=[0])

total_counts.head()

,agile,ajax,angular,bachelor's,back end,c#,c++,computer science,css,css preprocessors,...,nosql,php,python,react,rest,ruby,sass,sql,swift,ui_ux
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [660]:
# New DataFrame to hold total word counts
total_counts_headers = dict(word_dict) # makes a copy instead of passing by reference

column_header_values = {}

for key in total_counts_headers:
    for value in total_counts_headers[key]:
        column_header_values[value] = 0
counts = pd.DataFrame(column_header_values, index=[0])

counts.head()

,angular,bachelor,bachelor's,css,html,java,less,node,react,sql,...,nosql,php,python,react.js,reactjs,rest,ruby,sass,swift,ui/ux
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [661]:
def get_mentions(word_dict):
    for key in word_dict:
        total = 0
        for value in word_dict[key]:
            for i, row in df.iterrows():
                if value in row.summary:
                    df.loc[i, value]=1
            counts[value] = df[value].value_counts()[1]
            total = total + df[value].value_counts()[1]
        total_counts[key] = total
                
get_mentions(word_dict)

In [662]:
counts.head()

counts.to_csv('~/Desktop/word_counts.csv')

In [665]:
total_counts.head()

total_counts.to_csv('~/Desktop/total_counts.csv')

In [664]:
words = pd.DataFrame(summary)
words.head()
words = words.rename(columns={'0': 'ranking'})
# words.to_csv('~/Desktop/words_ranking.csv')

In [ ]:
# Number of job listings by company
df.company.value_counts()

In [ ]:
# df['web_developer_title'] = 0

# # 'Web Developer' in title
# df.job_title = df.job_title.str.lower()
# for i, row in df.iterrows():
#     if 'web developer' in row.job_title:
#         df.loc[i, 'web_developer_title']=1

# df.web_developer_title.value_counts()